
<!-- REVOLUTION SLIDER -->
	<div class="slider fullwidthbanner-container roundedcorners">
		<div class="fullwidthbanner" data-height="600" data-shadow="0" data-navigationStyle="preview2" id="home">
			<ul class="hide">
			
				<!-- SLIDE  -->
				<li data-transition="parallaxtobottom" data-slotamount="7" data-masterspeed="600"  data-saveperformance="off"  data-title="Slogan">
					<!-- MAIN IMAGE -->
					<%= image_tag("wall2.jpg", :alt => "cover image", :bgposition => "center top", :bgfit => "cover", :bgrepeat => "no-repeat") %>

					<div class="tp-caption white_big skewfromleft tp-resizeme"
						data-x="471"
						data-y="100" 
						data-speed="400"
						data-start="1500"
						data-easing="Power3.easeInOut"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0.1"
						data-endelementdelay="0.1"
						data-endspeed="600"
						style="z-index: 2; color:gray; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
							Elevate Safety, <br />
							Speed and Style
					</div>

					<div class="tp-caption tp-fade"
						data-x="left"
						data-y="25" 
						data-speed="300"
						data-start="800"
						data-easing="Power3.easeInOut"
						data-elementdelay="0.1"
						data-endelementdelay="0.1"
						data-endspeed="300"
						style="z-index: 4;">
							<%= image_tag("Asc1.png", :height => "550") %>
					</div>

					<div class=" container skewfromleft tp-resizeme  un-button-2-lg"
						data-x="565"
						data-y="300" 
						data-speed="300"
						data-start="2500"
						data-easing="Power3.easeInOut"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0.1"
						data-endelementdelay="0.1"
						data-endspeed="300"

						style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
							<a class="btn btn-rred btn-lg" href="index.html#services">OUR SERVICES &nbsp; <i class="fa fa-angle-right"></i></a>
							&nbsp; OR &nbsp; 
							<a class="btn btn-rblue btn-lg" href="quote.html">GET A QUOTE &nbsp; <i class="fa fa-angle-right"></i></a>
					</div>
				</li>

				<!-- SLIDE 2 -->
				<li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" data-title="Residential Services">
					<!-- MAIN IMAGE -->
					<%= image_tag("AdobeStock_72034307.jpeg", :alt =>"cover image", :bgposition => "center top", :bgfit => "cover", :bgrepeat => "no-repeat") %>

					<div class="overlay dark-4"><!-- dark overlay [0 to 9 opacity] --></div>

					<div class="tp-caption font-roboto skewfromleft tp-resizeme"
						data-x="50"
						data-y="100" 
						data-speed="500"
						data-start="1500"
						data-easing="Cubic.easeOut"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0.1"
						data-endelementdelay="0.1"
						data-endspeed="500"
						style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
							Residential Building
					</div>

					<div class="tp-caption skewfromrightshort tp-resizeme"
						data-x="50"
						data-y="300" 
						data-speed="500"
						data-start="1000"
						data-easing="easeInCirc"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0.1"
						data-endelementdelay="0.1"
						data-endspeed="500"
						style="z-index: 3; font-size:30px; color:#fff; font-weight:300; text-shadow:none;">
							Inspiring choice
					</div>

					<div class="tp-caption sfb tp-resizeme"
						data-x="50"
						data-y="410" 
						data-speed="500"
						data-start="1500"
						data-easing="Power3.easeIn"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="1"
						data-endelementdelay="0.1"
						data-endspeed="500"
						style="z-index: 4; max-width: auto;">
							<a class="btn btn-rred btn-lg" href="residential.html">OUR SERVICES &nbsp; <i class="fa fa-angle-right"></i></a>
					</div>
				</li>

				<!-- SLIDE 3 -->
				<li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" data-title="Corporate Services">
					<!-- MAIN IMAGE -->
					<%= image_tag("AdobeStock_78149317.jpeg", :alt =>"cover image", :bgposition => "center top", :bgfit => "cover", :bgrepeat => "no-repeat") %>

					<div class="overlay dark-4"><!-- dark overlay [0 to 9 opacity] --></div>

					<div class="tp-caption font-roboto skewfromleft tp-resizeme"
						data-x="50"
						data-y="100" 
						data-speed="500"
						data-start="1500"
						data-easing="Cubic.easeOut"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0.1"
						data-endelementdelay="0.1"
						data-endspeed="500"
						style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
							Corporate Building
					</div>

					<div class="tp-caption skewfromrightshort tp-resizeme"
						data-x="50"
						data-y="300" 
						data-speed="500"
						data-start="1000"
						data-easing="easeInCirc"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0.1"
						data-endelementdelay="0.1"
						data-endspeed="500"
						style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;">
							Welcoming public space
					</div>

					<div class="tp-caption sfb tp-resizeme"
						data-x="50"
						data-y="410" 
						data-speed="500"
						data-start="1500"
						data-easing="Power3.easeIn"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="1"
						data-endelementdelay="0.1"
						data-endspeed="500"
						style="z-index: 4; max-width: auto;">
							<a class="btn btn-rblue btn-lg" href="corporate.html">OUR SERVICES &nbsp; <i class="fa fa-angle-right"></i></a>
					</div>
				</li>
			</ul>
		</div>
	</div>
<!-- /REVOLUTION SLIDER -->

<hr class="m-0" /><!-- 1px line separator -->

<!-- Services -->
	<section id="services">
		<div class="container">
			<div class="row">
				<div class="col-sm-4"> <!--Awards-->
					<%= image_tag("AdobeStock_162479912.jpeg", :alt => "rss feed", :class => 'img-fluid') %>
					<h3 class="mt-10">Awards and Project</h3>
					<p>
						Our projects are no big deal. From the simple elevator in a private residence, to the multitude of elevators in large commercial buildings. Innovator, we have received different unique awards.</p>
					<a href="#work" class="btn btn-outline-rred">READ MORE</a>
				</div>

				<div class="col-sm-4"> <!--Residential-->
					<%= image_tag("AdobeStock_66781279.jpeg", :alt => "rss feed", :class => 'img-fluid') %>
					<h3 class="mt-10">Residential Services</h3>
					<p>We understands the peak time challenges in a residential building. We can help you plan for efficient people transportation in real-world situations.</p>
					<a href="residential.html" class="btn btn-outline-rblue">DETAILS</a>
				</div>

				<div class="col-sm-4"> <!--Corporate-->
					<%= image_tag("AdobeStock_3294993.jpeg", :alt => "rss feed", :class => 'img-fluid') %>
					<h3 class="mt-10">Corporate Services</h3>
					<p>We understands the complex demands that public structures require. They have to provide traffic flow without interruption.</p>
					<a href="corporate.html" class="btn btn-outline-rblue">DETAILS</a>
				</div>

			</div>
		</div>
	</section>
<!-- /Services -->


<!-- Parallax -->
	<section class="parallax parallax-1" style="background-image: url(<%= image_path "AdobeStock_73868131.jpeg"%>);">
		<div class="overlay dark-5"><!-- dark overlay [1 to 9 opacity] --></div>
		<div class="container">
			<div class="text-center">
				<h2 class="fs-40 fw-300">Since 1976</h2>
				<a class="btn btn-rred btn-lg" href="quote.html">GET A QUOTE <i class="fa fa-angle-right"></i></a> 
				&nbsp; OR &nbsp; 
				<a class="btn btn-rblue btn-lg" href="index.html#services">OUR SERVICES <i class="fa fa-angle-right"></i></a>
			</div>
		</div>
	</section>
<!-- /Parallax -->


<!-- PORTFOLIO -->
	<section id="work">
		<div class="container">

			<div class="heading-title heading-dotted text-center">
				<h2>Featured Work</h2>
			</div>

			<div class="text-center">
				<ul class="nav nav-pills mix-filter mb-60">
					<li data-filter="all" class="filter active"><a href="#">All</a></li>
					<li data-filter="awards" class="filter"><a href="#">Awards</a></li>
					<li data-filter="residential" class="filter"><a href="#">Residential</a></li>
					<li data-filter="corporate" class="filter"><a href="#">Corporate</a></li>
					<li data-filter="other" class="filter"><a href="#">Other</a></li>

				</ul>
			</div>

		</div>

		<div id="portfolio" class="portfolio-nogutter">

				<div class="row mix-grid">

					<div class="col-md-3 col-sm-4 mix other"><!-- Aida -->
						<div class="item-box">
							<figure>
								<%= image_tag("projects//Aida.jpg", :width => '600', :height => '399', :class => 'img-fluid') %>
							</figure>
							<div class="item-box-desc">
								<h3>Now Serving Luxury Cruise Ships!</h3>
							</div>
						</div>
					</div><!-- /item -->

					<div class="col-md-3 col-sm-4 mix awards"><!-- ISO Certificates of Registration -->
						<div class="item-box">
							<figure>
								<%= image_tag("projects//Certifications.jpg", :width => '600', :height => '399', :class => 'img-fluid') %>
								</figure>
							<div class="item-box-desc">
								<h3>ISO Certificates of Registration</h3>
							</div>
						</div>
					</div><!-- /item -->

					<div class="col-md-3 col-sm-4 mix corporate"><!-- MEXICO’S RISING OFFICE SPACES -->
						<div class="item-box">
							<figure>
								<%= image_tag("projects//mexico.png", :width => '600', :height => '399', :class => 'img-fluid') %>
							</figure>
							<div class="item-box-desc">
								<h3>Mexico s rising office spaces</h3>
							</div>
						</div>
					</div><!-- /item -->

					<div class="col-md-3 col-sm-4 mix residential"><!-- The Hub -->
						<div class="item-box">
							<figure>
								<%= image_tag("projects//thehub.png", :width => '600', :height => '399', :class => 'img-fluid') %>
							</figure>
							<div class="item-box-desc">
								<h3>The Hub - Student Residence</h3>
							</div>
						</div>
					</div><!-- /item -->

					<div class="col-md-3 col-sm-4 mix corporate"><!-- Centre del mon -->
						<div class="item-box">
							<figure>
								<%= image_tag("projects//centredelmon.png", :width => '600', :height => '399', :class => 'img-fluid') %>
							</figure>
							<div class="item-box-desc">
								<h3>"El centre del món"</h3>
							</div>
						</div>
					</div><!-- /item -->

					<div class="col-md-3 col-sm-4 mix other"><!--Harmony at seas-->
						<div class="item-box">
							<figure>
								<%= image_tag("projects//boat.png", :width => '600', :height => '399', :class => 'img-fluid') %>
							</figure>
							<div class="item-box-desc">
								<h3>Harmony at seas</h3>
							</div>
						</div>
					</div><!-- /item -->

					<div class="col-md-3 col-sm-4 mix residential"><!-- Allegra Condos -->
						<div class="item-box">
							<figure>
								<%= image_tag("projects//allegracondos.png", :width => '600', :height => '399', :class => 'img-fluid') %>
							</figure>
							<div class="item-box-desc">
								<h3>Allegra Condos</h3>
							</div>
						</div>
					</div><!-- /item -->

					<div class="col-md-3 col-sm-4 mix residential"><!-- Hora Nova -->
						<div class="item-box">
							<figure>
								<%= image_tag("projects//horaNova.jpg", :width => '600', :height => '399', :class => 'img-fluid') %>
							</figure>
							<div class="item-box-desc">
								<h3>Hora Nova Residence</h3>
							</div>
						</div>
					</div><!-- /item -->

					<div class="col-md-3 col-sm-4 mix awards"><!--COR™️ 2020 Certification-->
						<div class="item-box">
							<figure>
								<%= image_tag("projects//cor-certified.jpg", :width => '600', :height => '399', :class => 'img-fluid') %>
							</figure>
							<div class="item-box-desc">
								<h3>COR™️ 2020 Certification</h3>
							</div>
						</div>
					</div><!-- /item -->

					<div class="col-md-3 col-sm-4 mix awards residential"><!-- Narrow home solution -->
						<div class="item-box">
							<figure>
								<%= image_tag("projects//projectofyear.jpg", :width => '600', :height => '399', :class => 'img-fluid') %>
							</figure>
							<div class="item-box-desc">
								<h3>Narrow home solution</h3>
							</div>
						</div>
					</div><!-- /item -->

					<div class="col-md-3 col-sm-4 mix corporate"><!-- Mercury City Tower -->
						<div class="item-box">
							<figure>
								<%= image_tag("projects//mercury.jpg", :width => '600', :height => '399', :class => 'img-fluid') %>
							</figure>
							<div class="item-box-desc">
								<h3>Mercury City Tower</h3>
							</div>
						</div>
					</div><!-- /item -->

					<div class="col-md-3 col-sm-4 mix"><!-- Skolkovo Innovation Center -->
						<div class="item-box">
							<figure>
								<%= image_tag("projects//Skolkovo.jpg", :width => '600', :height => '399', :class => 'img-fluid') %>
							</figure>
							<div class="item-box-desc">
								<h3>Skolkovo Innovation Center</h3>
							</div>
						</div>
					</div><!-- /item -->
				</div>


		</div>
	</section>
<!-- /PORTFOLIO -->


<!-- Testimonials -->
	<section class="section-xs rred">
		<div class="container">

			<div class="owl-carousel text-center owl-testimonial m-0" data-plugin-options='{"singleItem": true, "autoPlay": 3500, "navigation": false, "pagination": true, "transitionStyle":"fade"}'>
				<div class="testimonial">
					<figure>
						<%= image_tag("Mathieu.jpg", :class => 'rounded') %>
					</figure>
					<div class="testimonial-content p-0">
						<p class="lead">He loves music and designs his lifts with all the musical notes.</p>
						<cite>
							Mathieu
							<span>CEO</span>
						</cite>
					</div>
				</div>
				<div class="testimonial">
					<figure>
						<%= image_tag("Teddy.jpg", :class => 'rounded') %>
					</figure>
					<div class="testimonial-content p-0">
						<p class="lead">Young, dynamic, ambitious and passionate, he bring his professional experience and personal qualities, to the smooth running of projects, from study to execution, development and organization of the company.</p>
						<cite>
							Teddy
							<span>Team Leader Junior</span>
						</cite>
					</div>
				</div>
				<div class="testimonial">
					<figure>
						<%= image_tag("jorge.png", :class => 'rounded') %>
					</figure>
					<div class="testimonial-content p-0">
						<p class="lead">&#128272;</p>
						<cite>
							Jorge
							<span>Login and Front-End Junior</span>
						</cite>
					</div>
				</div>
				<div class="testimonial">
					<figure>
						<%= image_tag("alex.png", :class => 'rounded') %>
					</figure>
					<div class="testimonial-content p-0">
						<p class="lead">&#127894;</p>
						<cite>
							Alexandre
							<span>Front-End Junior</span>
						</cite>
					</div>
				</div>
				<div class="testimonial">
					<figure>
						<%= image_tag("jf.png", :class => 'rounded') %>
					</figure>
					<div class="testimonial-content p-0">
						<p class="lead">&#129419;</p>
						<cite>
							Jean-François
							<span>Database Junior</span>
						</cite>
					</div>
				</div>
				<div class="testimonial">
					<figure>
						<%= image_tag("remi.png", :class => 'rounded') %>
					</figure>
					<div class="testimonial-content p-0">
						<p class="lead">&#9969;</p>
						<cite>
							Remi
							<span>Coach Senior</span>
						</cite>
					</div>
				</div>
				<div class="testimonial">
					<figure>
						<%= image_tag("david.png", :class => 'rounded') %>
					</figure>
					<div class="testimonialu-content p-0">
						<p class="lead"> &#128040;</p>
						<cite>
							David
							<span>Coach Senior</span>
						</cite>
					</div>
				</div>
			</div>

		</div>
	</section>
<!-- /Testimonials -->


<!-- News -->
	<section id="news">
		<div class="container">
			<div class="heading-title heading-dotted text-center">
				<h2>Recent News</h2>
			</div>

			<div class="owl-carousel owl-padding-10 buttons-autohide controlls-over" data-plugin-options='{"singleItem": false, "items":"3", "autoPlay": 4000, "navigation": true, "pagination": false}'>
				<div class="img-hover"> <!--Heatherwick-->
					<a href="https://www.elevatorscenestudio.com/blog/2020/7/18/heatherwick-studios-ultra-luxury-residence-nicknamed-eden-blossoms-out-of-singapores-skyline">
						<%= image_tag("news/Heatherwick.jpg", :class => 'img-fluid') %>
					</a>
					</a>

					<h4 class="text-left mt-20"><a href="https://www.elevatorscenestudio.com/blog/2020/7/18/heatherwick-studios-ultra-luxury-residence-nicknamed-eden-blossoms-out-of-singapores-skyline">Heatherwick Studio's</a></h4>
					<p class="text-left">Heatherwick Studio's Ultra-Luxury Residence Blossoms Out of Singapore's Skyline</p>
					<ul class="text-left fs-12 list-inline list-separator">
						<li>
							<i class="fa fa-calendar"></i> 
							18th July 2020
						</li>
						<!-- <li>
							<a href="blog-single-default.html#comments">
								<i class="fa fa-comments"></i> 
								3
							</a>
						</li> -->
					</ul>
				</div>
				<div class="img-hover"> <!--Manners-->
					<a href="https://www.elevatorscenestudio.com/blog/2020/6/6/if-you-want-to-learn-about-elevator-manners-go-to-nihonbashi-takashimaya-in-tokyo-japan">
						<%= image_tag("news/Manners.jpg", :class => 'img-fluid') %>
					</a>

					<h4 class="text-left mt-20"><a href="https://www.elevatorscenestudio.com/blog/2020/6/6/if-you-want-to-learn-about-elevator-manners-go-to-nihonbashi-takashimaya-in-tokyo-japan">About elevator manners</a></h4>
					<p class="text-left">If you want to learn about elevator manners, go to Nihonbashi Takashimaya in Tokyo, Japan.</p>
					<ul class="text-left fs-12 list-inline list-separator">
						<li>
							<i class="fa fa-calendar"></i> 
							6th June 2020
						</li>
					</ul>
				</div>
				<div class="img-hover"> <!--Art-->
					<a href="https://www.elevatorscenestudio.com/blog/2020/7/18/extraordinary-art-deco-elevator-designs-from-around-the-world">
						<%= image_tag("news/Art.jpg", :class => 'img-fluid') %>
					</a>

					<h4 class="text-left mt-20"><a href="https://www.elevatorscenestudio.com/blog/2020/7/18/extraordinary-art-deco-elevator-designs-from-around-the-world">Art Deco</a></h4>
					<p class="text-left">Extraordinary Art Deco Elevator Designs From Around the World</p>
					<ul class="text-left fs-12 list-inline list-separator">
						<li>
							<i class="fa fa-calendar"></i> 
							18th July 2020
						</li>
					</ul>
				</div>
				<div class="img-hover"> <!--Skyscraper-->
					<a href="https://www.elevatorscenestudio.com/blog/2020/6/13/history-of-the-mile-high-skyscraper">
						<%= image_tag("news/Skyscraper.jpg", :class => 'img-fluid') %>
					</a>

					<h4 class="text-left mt-20"><a href="https://www.elevatorscenestudio.com/blog/2020/6/13/history-of-the-mile-high-skyscraper">Mile High Skyscraper</a></h4>
					<p class="text-left">Part 1 | The Definitive History of Frank Lloyd Wrights Mile High Skyscraper</p>
					<ul class="text-left fs-12 list-inline list-separator">
						<li>
							<i class="fa fa-calendar"></i> 
							29th Jan 2017
						</li>
						<!-- <li>
							<a href="blog-single-default.html#comments">
								<i class="fa fa-comments"></i> 
								3
							</a>
						</li> -->
					</ul>
				</div>
				<div class="img-hover"><!--Arab Art Museum-->
					<a href="https://www.elevatorscenestudio.com/blog/2020/4/13/conceptual-modern-arab-art-museum-in-sharjah-featuring-towering-barjeels-inspired-by-surrounding-sand-dunes">
						<%= image_tag("news/ArabeArtMuseum.jpg", :class => 'img-fluid') %>
					</a>
					<h4 class="text-left mt-20"><a href="https://www.elevatorscenestudio.com/blog/2020/4/13/conceptual-modern-arab-art-museum-in-sharjah-featuring-towering-barjeels-inspired-by-surrounding-sand-dunes">Arab Art Museum</a></h4>
					<p class="text-left">Conceptual Modern Arab Art Museum in Sharjah Featuring Towering Barjeel's Inspired by Surrounding Sand Dunes</p>
					<ul class="text-left fs-12 list-inline list-separator">
						<li>
							<i class="fa fa-calendar"></i> 
							13th Apr 2020
						</li>
					</ul>
				</div>
				<div class="img-hover"><!--Carparks Elevators-->
					<a href="https://www.elevatorscenestudio.com/blog/2020/3/31/mechanization-taking-command-in-a-robotic-carpark-1921">
						<%= image_tag("news/CarElevator.jpg", :class => 'img-fluid') %>
					</a>
					<h4 class="text-left mt-20"><a href="https://www.elevatorscenestudio.com/blog/2020/3/31/mechanization-taking-command-in-a-robotic-carpark-1921">Carparks Elevators</a></h4>
					<p class="text-left">Mechanization Taking Command in Elevator Carparks</p>
					<ul class="text-left fs-12 list-inline list-separator">
						<li>
							<i class="fa fa-calendar"></i> 
							31th Mar 2020
						</li>
						</li>
					</ul>
				</div>
			</div>

		</div>
	</section>
<!-- /News -->

<!-- Clients -->
	<section id="clients" class="alternate">
		<div class="container">

			<div class="heading-title heading-dotted text-center">
				<h2>Our Clients</h2>
			</div>

			<ul class="row clients-dotted list-inline">
				<li class="col-md-2 col-sm-4 col-6">
					<a target="_blank" href="https://www.adobe.com/">
						<%= image_tag("logo/adobe.png", :class => 'img-fluid') %>
					</a>
				</li>
				<li class="col-md-2 col-sm-4 col-6">
					<a target="_blank"href="https://www.blablacar.com/">
						<%= image_tag("logo/blablacar.png", :class => 'img-fluid') %>
					</a>
				</li>
				<li class="col-md-2 col-sm-4 col-6">
					<a target="_blank"href="https://aws.amazon.com/">
						<%= image_tag("logo/amazon.png", :class => 'img-fluid') %>
					</a>
				</li>
				<li class="col-md-2 col-sm-4 col-6">
					<a target="_blank"href="https://transferwise.com/">
						<%= image_tag("logo/transfertwise.png", :class => 'img-fluid') %>
					</a>
				</li>
				<li class="col-md-2 col-sm-4 col-6">
					<a target="_blank"href="https://slack.com/">
						<%= image_tag("logo/slack.png", :class => 'img-fluid') %>
					</a>
				</li>
				<li class="col-md-2 col-sm-4 col-6">
					<a target="_blank"href="https://www.apple.com/">
						<%= image_tag("logo/apple.png", :class => 'img-fluid') %>
					</a>
				</li>
				<li class="col-md-2 col-sm-4 col-6">
					<a target="_blank"href="https://www.uber.com/">
						<%= image_tag("logo/uber.png", :class => 'img-fluid') %>
					</a>
				</li>
				<li class="col-md-2 col-sm-4 col-6">
					<a target="_blank"href="https://bear.app/">
						<%= image_tag("logo/bear.png", :class => 'img-fluid') %>
					</a>
				</li>
				<li class="col-md-2 col-sm-4 col-6">
					<a target="_blank"href="https://www.booking.com/">
						<%= image_tag("logo/booking.png", :class => 'img-fluid') %>
					</a>
				</li>
				<li class="col-md-2 col-sm-4 col-6">
					<a target="_blank"href="https://asana.com/">
						<%= image_tag("logo/asana.png", :class => 'img-fluid') %>
					</a>
				</li>
				<li class="col-md-2 col-sm-4 col-6">
					<a target="_blank"href="https://www.airbnb.com/">
						<%= image_tag("logo/airbnb.png", :class => 'img-fluid') %>
					</a>
				</li>
				<li class="col-md-2 col-sm-4 col-6">
					<a target="_blank"href="https://www.disneyplus.com/">
						<%= image_tag("logo/disney.png", :class => 'img-fluid') %>
					</a>
				</li>
			</ul>

		</div>
	</section>
<!-- /Clients -->



<!-- CONTACT -->
	<section id="contact">
		<div class="container">

			<header class="text-center mb-60">
				<h2>Contact Us</h2>
				<p class="lead font-lato">Lorem ipsum dolor sit amet adipiscium elit</p>
				<hr />
			</header>


			<div class="row">

				<!-- FORM -->

					<div class="col-md-7 col-sm-7">

						<h3>Drop us a line or just say <strong><em>Hello!</em></strong></h3>

						<!-- Alert Success -->
						<div id="alert_success" class="alert alert-success mb-30">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							<strong>Thank You!</strong> Your message successfully sent!
						</div><!-- /Alert Success -->


						<!-- Alert Failed -->
						<div id="alert_failed" class="alert alert-danger mb-30">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							<strong>[SMTP] Error!</strong> Internal server error!
						</div><!-- /Alert Failed -->


						<!-- Alert Mandatory -->
						<div id="alert_mandatory" class="alert alert-danger mb-30">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							<strong>Sorry!</strong> You need to complete all mandatory (*) fields!
						</div><!-- /Alert Mandatory -->


						<form action="/leads" method="post" enctype="multipart/form-data" id="cForm">
						
							<fieldset> <!--FORM-->
								<input type="hidden" name="action" value="contact_send" />

								<div class="row"> <!--Names-->
										<div class="col-md-6">
											<label for="company_name">Company Name *</label>
											<input required type="text" value="" class="form-control" name="company_name" id="contact:company">
										</div>
										<div class="col-md-6">
											<label for="full_name">Full Name *</label>
											<input required type="text" value="" class="form-control" name="full_name" id="contact:name">
										</div>
								</div>
								<div class="row"> <!--Communication-->
									<div class="col-md-7">
										<label for="contact:email">E-mail Address *</label>
										<input required type="email" value="" class="form-control" name="email" id="contact:email">
									</div>
									<div class="col-md-5">
										<label for="phone_number">Phone</label>
										<input type="text" value="" class="form-control" name="phone_number" id="contact:phone">
									</div>
								</div>
								<div class="row"> <!--Project-->
										<div class="col-md-8">
											<label for="project_name">Project Name *</label>
											<input required type="text" value="" class="form-control" name="project_name" id="contact:project">
										</div>
										<div class="col-md-4">
											<label for="department">Department</label>
											<select class="form-control pointer" name="department">
												<option value="">--- Select ---</option>
												<option value="Marketing">Marketing</option>
												<option value="sales">Sales</option>
											</select>
										</div>
								</div>
								<div class="row"> <!--Description-->
									<div class="col-md-12"> 
										<label for="project_description">Project Description *</label>
										<input required type="text" value="" class="form-control" name="project_description" id="contact:description">
									</div>
								</div>
								<div class="row"> <!--Message-->
										<div class="col-md-12">
											<label for="message">Message *</label>
											<textarea required maxlength="10000" rows="8" class="form-control" name="message" id="contact:message"></textarea>
										</div>
								</div>
								<div class="row"> <!--Attachment-->
										<div class="col-md-12">
											<label for="contact:attachment">File Attachment</label>

											<!-- custom file upload -->
											<input class="custom-file-upload" type="file" id="file" name="attached_file" id="contact:attachment" data-btn-text="Select a File" />
											<small class="text-muted block">Max file size: 10Mb (zip/pdf/jpg/png)</small>

										</div>
								</div>
							</fieldset>

							<div class="row"> <!--submit-->
								<div class="col-md-12">
									<button type="submit" class="btn btn-rblue" id="btnForm"><i class="fa fa-check"></i> SEND MESSAGE</button>
								</div>
							</div>
						</form>

					</div>
				<!-- /FORM -->


				<!-- INFO MAP -->
				<div class="col-md-5 col-sm-5">

					<h2>Visit Us</h2>

					<iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2729.042993784807!2d-71.28188348419535!3d46.84284354841596!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cb897d0e1cafe3f%3A0x9863b2d992c71670!2sCodeBoxx!5e0!3m2!1sen!2sca!4v1599424130396!5m2!1sen!2sca" width="100%" height="600" frameborder="0" style="border:0;" aria-hidden="false" tabindex="0"></iframe>

					<hr />

					<p id="infos">
						<span class="block"><strong><i class="fa fa-map-marker"></i> Address:</strong> 418-725 Boulevard Lebourgneuf,Québec,Canada</span>
						<span class="block"><strong><i class="fa fa-phone"></i> Phone:</strong> <a href="tel:1581-701-0303">581 701-0303</a></span>
						<span class="block"><strong><i class="fa fa-envelope"></i> Email:</strong> <a href="mailto:info@codeboxx.biz">info@codeboxx.biz</a></span>
					</p>

					<hr />

				</div>
				<!-- /INFO -->

			</div>

		</div>
		
	</section>
<!-- /CONTACT -->


<!-- SCROLL TO TOP -->
<a href="#" id="toTop"></a>

<script>var plugin_path = 'assets/'</script>